
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>隱私權政策</title>
</head>
<style type="text/css">
body{margin:0;padding:0; font-size:13px; line-height:150%; color:#666666}
a:hover {text-decoration: none; color:#39F}
a{text-decoration: none;color:#113d93}
#box{ width:95%; margin:40px auto}
#box2{ margin-left:20px}
#tit{font-size:22px; border-bottom:#888888 1px solid; padding-bottom:13px; font-weight:bold; margin-bottom:15px; color:#000000}
#list{font-size:15px;font-weight:bold;color:#000000}
</style>
<body leftmargin="0" topmargin="0">
<div id="box">
<div id="tit">隱私權政策</div>
<div id="box2">
<div id="list">適用範圍</div>
以下的隱私權保護政策，適用於您在本活動網站活動時，所涉及的個人資料之收集、運用與保護。
<br><br>
<div id="list">資料蒐集</div>
根據本網站所提供的不同服務，可能向網友蒐集下列個人基本資料：
<ul>
<li>會員資料：當您開始參予本網站之活動時，我們會請您同意我們存取您於facebook上註冊之個人資料：包括姓名、電子信箱等個人資訊。
<li>一般瀏覽： 本活動網站會保留網友在上網瀏覽或查詢時，伺服器自行產生的相關記錄(LOG)，包括連線設備IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，以歸納使用者瀏覽器在本活動網站內部所瀏覽的網頁及瀏覽時間，俾據以提昇本活動網站的服務品質。
</ul>
<br><br>
<div id="list">網友資料的分享、公開及運用方式</div>
本活動網站不會任意出售、交換、或出租任何您的個人資料給其他團體或個人。只有在以下狀況，本活動網站會在「隱私權保護政策」原則之下，運用您的個人資料。
<ul>
<li>統計與分析：本活動網站根據使用者帳號資料、投票結果或伺服器日誌文件，進行統計分析與整理，做為本活動票選內容的結果，不會對各別使用者進行分析，亦不會提供特定對象個別資料之分析報告。
<li>司法單位因公眾安全，要求本活動網站公開特定個人資料時，本活動網站將視司法單位合法正式的程序，以及對本資訊網所有使用者安全考量下做可能必要之配合。除有關法律 裁判、政府審查、司法調查、犯罪預防或就非法活動採取行動、就懷疑詐騙或因事件涉及威脅到任何人的人身安全、以及違法之行為上有需要外，所有資料均屬保密。
</ul>
<br><br>
<div id="list">隱私權保護政策修訂</div> 
本活動網站會不定時修訂本項政策，以符合最新之隱私權保護規範。當我們在使用個人資料的規定做較大幅度修改時，我們會在網頁上張貼告示，通知您相關修訂事項。
<br><br>
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1100648020014450',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
